doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        title Leaderboard
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='/listjs/list.js')
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='/material-css/js/materialize.js')
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/material-css/css/materialize.css' media='screen,projection')
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        div(class='card-panel teal lighten-2')
            h2 Leaderboard
            // if leaderboard.name
            p leaderboard.name
        div(class='row')
            div(class='col s3')
                div(id='leaderboards-list')
                    div(class='input-field')
                        input(placeholder='Filter' type='text' class='search')
                    div(class='list collection scrollbar')
                        each leaderboard_obj in leaderboards_obj
                            //if id == leaderboard.id
                            a(class='collection-item' href='/leaderboard/' + leaderboard_obj.id)
                                h5(class='name') #{leaderboard_obj.name}
                                p(class='id') #{leaderboard_obj.id}
                script(src='/scripts/leaderboard.list.js')
        //-
            div(class='col s9 scrollbar')
                div(class='list collection')
                    each user_scores in leaderboard.scores
                        each user in user_scores
                            div(class='collection-item')
                                h5(class='name') #{user.name}
                                p(class='id') #{user.id}